<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        label {
            display:inline-block;
            width:40px;
            text-align:right;
            margin-left:50px
            }
    </style>
</head>

<body>
    <h1> I am an administor</h1>

    <ol><a align="center" href="{{url_for('tolist_allcustomer_information')}}" >Click here to list all customer</a></ol>

    <ol><a align="center" >Click here to add a new customer{{result1}}</a></ol>
<!--    <form method = "POST" action="{{url_for('toadd_customer')}}" >-->
    <form method = "POST" action="toadd_customer" >
        <label>first_name:</label> <input style="margin-left: 70px" type="text" name="first_name"><br/>
        <label>family_name:</label> <input style="margin-left: 70px" type="text" name="family_name"><br/>
        <label>customer_email:</label> <input style="margin-left: 70px" type="email" name="customer_email"><br/>
        <label>customer_phone:</label> <input style="margin-left: 70px" type="text" name="customer_phone"><br/>
        <input type = "submit" value="Submit" style="margin-left: 120px" >
    </form>

    <ol><a align="center">Click here to search a customer information using id</a></ol>
    <form method = "POST" action="tosearch_customer_id">
        <label >customer_id:</label> <input style="margin-left: 70px" type="text" name="customer_id"><br/><br/>
        <input type = "submit" value="Submit_customer_id" style="margin-left: 120px" >
    </form>

    <ol><a align="center">Click here to search a customer information by name</a></ol>
    <form method="POST" action="tosearch_customer_name">
        <label >first_name or family_name:</label> <input style="margin-left: 70px" type="text" name="customer_name"><br/><br/>
        <input type = "submit" value="Submit_customer_name" style="margin-left: 120px" >
    </form>

    <ol><a align="center">Click here to add a new service to system{{result2}}</a></ol>
    <form method="POST" action="toadd_newservices_system">
        <label >newservice_name:</label> <input style="margin-left: 80px" type="text" name="new_service_name"><br/>
        <label >newservice_cost:</label> <input style="margin-left: 80px" type="text" name="new_service_cost"><br/><br/>
        <input type = "submit" value="Submit_newservice_system" style="margin-left: 120px" >
    </form>

    <ol><a align="center">Click here to add a new part to system {{result3}}</a></ol>
    <form method="POST" action="toadd_newparts_system">
        <label >newpart_name:</label> <input style="margin-left: 70px" type="text" name="new_part_name"><br/>
        <label >newpart_cost:</label> <input style="margin-left: 70px" type="text" name="new_part_cost"><br/><br/>
        <input type = "submit" value="Submit_newpart_system" style="margin-left: 120px" >
    </form>

    <ol><a align="center">Click here to schedule a job using jobid{{resutl4}}</a></ol>
    <form method="POST" action="toschedule_job_jobid">
        <label >job_id:</label> <input style="margin-left: 70px" type="text" name="schedule_job_jobid"><br/><br/>
        <label >job_booking_date:</label> <input style="margin-left: 70px" type="text" name="toschedule_job_jobdate"><br/><br/>
        <input type = "submit" value="Schedule_job" style="margin-left: 130px" >
    </form>

    <ol><a align="center">Click here to schedule a job by customerid{{result5}}</a></ol>
    <form method="POST" action="toschedule_job_customerid">
        <label >customer_id:</label> <input style="margin-left: 70px" type="text" name="schedule_job_customerid"><br/><br/>
        <label >job_booking_date:</label> <input style="margin-left: 70px" type="text" name="schedule_job_due_date"><br/><br/>
        <input type = "submit" value="Submit_schedule_job_jobid" style="margin-left: 130px" >
    </form>


    <ol><a align="center" href="{{url_for('tocheck_paycondition')}}" >Click here to check customer payment condition</a></ol>

    <ol><a align="center" href="{{url_for('toview_paymenthistory')}}" >Click here to view customer payment histories</a></ol>

</body>
</html>
