<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>i am technician</h1>
    <li><a align="center" href="{{url_for('tolist_job')}}" >I want to list all jobs</a></li><br/>
    <li><a align="center" href="{{url_for('toadd_job')}}" >I want to add a new job</a></li><br/>
    <li><a align="center" href="{{url_for('toupdate_job')}}" >I want to update job information</a></li><br/>
    <li><a align="center" href="{{url_for('todelete_job')}}" >I want to delete a job information</a></li>
</body>
</html>
